[Unit]
Description=jamsend-droids periodic restart (triggered by timer)
Requires=docker.service

[Service]
Type=oneshot
WorkingDirectory=/home/s/src/jamsend/ty
ExecStart=/usr/bin/docker compose down && /usr/bin/docker compose up -d
