[Unit]
Description=jamsend Watchdog (Docker heartbeat container)
Requires=docker.service jamsend-launcher.service
After=docker.service network-online.target jamsend-launcher.service
Wants=network-online.target

[Service]
User=1000
Type=simple
WorkingDirectory=/home/s/src/prod-jamsend/ty
ExecStart=/usr/bin/docker compose up
ExecStop=/usr/bin/docker compose down
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
